/*
styles for viewport


*/
.section{
    opacity: 0;
}
.vhidden{
     opacity:0;
}
.vvisible{
     opacity:1;
}



body {
  font-family: 'Lato', arial, sans-serif;
  color: #434343;
  font-size: 16px;
 
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #778492;
}
a {
  color: #3aaa64;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #5f6b77;
  color: #2d844e;
} 
.text-highlight {
  color: #32383e;
}
.label-theme {
  background: #3aaa64;
  font-size: 12px;
}
a.dotted-link {
  border-bottom: 1px dotted #778492;
  color: #778492;
}
a.dotted-link:hover {
  text-decoration: none;
  color: #49515a;
}
 
.header {
  padding: 30px 0;
  border-top: 10px solid rgb(202, 13, 13);
  margin: 0 15px 15px 15px;
  border-bottom: 3px solid #0000004a;

}
 
.header .profile-image {
  margin-right: 30px;
}
.header .profile-content .name {
  color: #49515a;
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 30px;
}
.header .profile-content .desc {
  color: #778492;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}
.header .profile-content .social a {
  background: #b0b7bf;
  width: 36px;
  height: 36px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
}
.header .profile-content .social a:hover {
  background: #778492;
}
.header .profile-content .social a .fa {
  font-size: 20px;
  padding-top: 8px;
}   



.profile-image{
  width:175px;
}

.heading-first{
  height: 50px;
  background: rgb(138, 9, 38);
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px 0 10px 48px;
}



.panel-red > .panel-heading {
  border-color: rgb(217, 83, 79);
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
}

.panel-red {
  border-color: rgb(217, 83, 79);
}
.panel-green {
    border-color: rgb(92, 184, 92);  
}
.panel-green > .panel-heading {
  border-color: rgb(92, 184, 92);
  color: rgb(255, 255, 255);
  background-color: rgb(92, 184, 92);
}

 .img-responsive{
  height: 128px !important;
 }




/* page structure */
#w {
  display: block;
  width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 15px 25px;
  -webkit-box-shadow: 1px 2px 3px -1px rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 2px 3px -1px rgba(0,0,0,0.4);
  box-shadow: 1px 2px 3px -1px rgba(0,0,0,0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#loader {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}


/* page content styles */
.smallname {
  font-size: 0.75em;
  color: #a9a9a9;
  font-style: italic;
}

.avi {
  float: left;
  margin-right: 7px;
  margin-bottom: 7px;
}
.avi img {
  border: 1px solid #ccc;
  padding: 3px;
}

.repolist {
  display: block;
  clear: both;
  width: 100%;
}

.margin-btn{
  margin:5px;
}
 


/* input field */
#ghusername {
  display: block;
  padding: 5px 8px;
  font-size: 1.4em;
  color: #666;
  width: 550px;
  margin-bottom: 15px;
}
