<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
  <div class="nav-collapse">
                <ul class="nav">
                     <li class="add-menu"><a href="#employee/add"><i class="icon-edit icon-white"></i> Employee Form </a></li>
                </ul>

                <ul class="nav pull-right">
                    <li class="about-menu"><a target="_blank" href="https://in.linkedin.com/in/anuraggautam77"><img src="image/download.png" title="My Linkedin Profile" alt="My Linkedin Profile" height="30" width="30"></a></li>
                    <li class="divider-vertical"> </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>